################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/prac17/FileContentIndex/48c13a85-f535-485a-a3a7-1316c881a8c3.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/b150cc98-5b46-4556-b553-2c33b132fab2.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/prac17/ViewModel/Helpers/ReceivingFromServer.cs
/prac17/obj/Debug/prac17_MarkupCompile.i.lref
/.vs/prac17/FileContentIndex/b150cc98-5b46-4556-b553-2c33b132fab2.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/0f998fc8-cef2-4537-a4a1-8072b9f1b907.vsidx
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/.vs/prac17/FileContentIndex/b150cc98-5b46-4556-b553-2c33b132fab2.vsidx
/prac17/obj/Debug/prac17_MarkupCompile.i.lref
/.vs/prac17/FileContentIndex/83f98d4c-ca6f-4aa4-ab12-87e13cb2f9b8.vsidx
/prac17/ViewModel/Helpers/TCPLogic/ClientLogic.cs
/prac17/ViewModel/Helpers/TCPLogic/ClientLogic.cs
/.vs/prac17/FileContentIndex
/.vs/prac17/FileContentIndex
/prac17/ViewModel/Helpers/TCPLogic/ClientLogic.cs
/prac17/ViewModel/Helpers/TCPLogic/ClientLogic.cs
/prac17/ViewModel/Helpers/TCPLogic/ClientLogic.cs
/prac17/obj/Debug/View/JoinToServerGameView.baml
/prac17/obj/Debug/View/CreaterServerGameView.baml
